@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
  }

.slick-slide {
    padding: .75rem !important;
}

.fullImageContainer {
    height: 100%;
}
.fullImageContainer *{
    height: 100%;
}
.fullImageContainer img{
    width: 100%;
}